/* 

Color Scheme

32292F
575366
6E7DAB
5762D5
D1E3DD

*/

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: Helvetica, "Times New Roman", serif;
	background-color: #D1E3DD
	color: #32292F;
}

a
{
	/* Third color from the color scheme */
	color: #32292F
}

nav
{
	background-color: #6E7DAB;
}

#skills > .row > div
{
	height: 150px;
	background-color: #D1E3DD;
	text-align: left;
	vertical-align: middle;
	border-radius: 5px;
	margin: 5px;
}

#skills > .row > div:hover
{
	background-color: #5762D5;
}

/* Boostrap overrides */

.jumbotron
{
	border-radius: 0px;
	margin: 0px 50px;
}

/* Navbar */

.navbar
{
	padding: 20px;
	margin: 0px 0px 50px 0px;
}

.nav-link
{
	border-radius: 10px;
	justify: center;
	text-align: center;
	
	/** Third color scheme color */
	color: #D1E3DD;
}

.navbar-brand
{
	color: #D1E3DD;
}

/* General color scheme */

.fg-cs1
{
	color: #32292F
}

.fg-cs2
{
	color: #575366
}

.fg-cs3
{
	color: #6E7DAB
}

.fg-cs4
{
	color: #5762D5
}

.fg-cs5
{
	color: #D1E3DD
}

.bg-cs1
{
	background-color: #32292F
}

.bg-cs2
{
	background-color: #575366
}

.bg-cs3
{
	background-color: #6E7DAB
}

.bg-cs4
{
	background-color: #5762D5
}

.bg-cs5
{
	background-color: #D1E3DD
}